.customer_reviews{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    align-items: stretch;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.customer_review{
    border-radius: 6px;
    padding: 15px;
    margin: 8px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 25%;
    height: auto;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 8px 0;
}

.customer_review:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.customer_review h2{
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 8px;
}

.customer_review img{
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 15px;
}

.customer_review p{
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    text-align: center;
}

.customer_content{
    background-color: #f9f9f9;
    padding: 50px;
}

.customer_content h1{
    margin-top: 60px;  
    text-align: center;
    padding-top: 0%;
    font-size: 2.5rem;   
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .customer_reviews{
        flex-direction: column;
        align-items: center;
    }
    .customer_review{
        width: 80%;
    }
    .customer_review img{
        margin-bottom: 8px;
        width: 6em;
        height: 6em;
    }
    .customer_review p{
        font-size: 12px;
    }
    .customer_review h2{
        font-size: 1.1rem;
    }
    .customer_content h1{
        font-size: 2rem;
        margin-top: 40px;
    }
    .customer_content{
        padding: 30px;
    }
}